.aside-menu {
  .menu-text {
    color: #fff !important;

    .icon {
      margin-right: 10px
    }
  } 
}

.aside-menu .menu-link.active {
  background: #0082A9;

  .menu-text {
    font-weight: bold !important;

    svg {
      stroke-width: 2;
    } 
  }
}

.bg-unibe {
  background: #23a8e4 !important;
}

.bg-blue {
  background: #0082A9;
  color: #fff;
}

.bg-blue:hover {
  opacity: 0.8;
  color: #fff;
}

.menu-nav {
  padding: 0px !important;
}

.swal-text {
  text-align: center;
}

.spinner.spinner-in-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.spinner.spinner-lg:before {
  width: 4rem;
  height: 4rem;
}

td button.material-icons {
  background: none;
  border: none;
}

.dropdownToggler {
  background: none;
}

.full-row {
  margin-right: -29.5px;
  margin-left: -29.5px;

  div[class*='col-'] {
    padding: 0;
  }
}

.aggrement-select {
  height: 35px !important;
}

.aggrement-calendar {
  width: 100% !important;
}

/* ****************** 
    FORM GROUP
******************* */
.inline-form-group {
  display: inline-block;
}

.inline-form-group:first-child {
  margin-right: 4.6%;
}

.form-group .input-group {
  input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .input-group-append {
    height: 35px;
  }

  .btn {
    padding: 0.55rem 1rem;
  }

  .btn.btn-secondary {
    background: #D4D4D4;
    border-color: #D4D4D4;
    color: #757575;
  }

  .btn.btn-secondary.dropdown-toggle:after {
    color: #757575;
  }
}
.input-group {
  input {
    border-color: #d4d4d4;
    border-radius: 3px;
  }
  
  .input-group-text {
    border-color: #d4d4d4;
    border-radius: 3px;
  }
}

.custom-file-label {
  border-color: #d4d4d4;
  border-radius: 4px;
  height: 38px;

  &:after {
    height: 36px;
    color: rgba(0, 0, 0, 0.54);
    content: "Buscar" !important;
  }
}

/* ****************** 
      CARD 
******************* */
  .card {
    border-width: 0;
    border-radius: 2px;
    .card-body {
      padding-top: 2em;
    }
  }

.content-header {
  width: 100%;
  background-color: #fff;
  padding: 22.5px 32.02px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;

  #breadcrumb {
    position: absolute;
    list-style-type: none;
    margin-top: -8px;

    li a {
      color: rgba(0, 0, 0, 0.45);
      margin: 0px 2px;
      font-weight: 100;
    }

    li a::after {
      content: " >";
      font-weight: bold;
    }

    li:first-child a {
      margin-left: 0px;
    }

    li:last-child a {
      color: #8585d4;
      &::after {
        content: ""
      }  
    }
  }
  
  h5 {
    color: #0082A9;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 12px;
    height: 20px;
    text-transform: uppercase;
  } 

  .btn-header {
    background: #00A8E4;
    padding: 6px 16px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    font-weight: 500;
  }

  .btn-header.green {
    background: #17B986;

    a {
      color: #fff;
    }
  }
}

.card.card-custom {
  border-radius: 2px;

  .card-body {
    padding-top: 0;
  }

  .card-footer {
    padding: 18px 40px; 
  }

  .card-body-pt-auto {
    padding-top: 2.25rem;
  }
}

.pagination {
  margin-top: 15px;
  width: 100%;
  padding-right: 30px;
  
  .btn-light {
    color: #CCCCD6;
    background: #F1F4F8;
  }

  .btn-light i {
    color: #CCCCD6;
  }

  .active {
    font-weight: bold;
    background: #00A8E4 !important;
    color: #fff !important;
  }

  span {
    color: #7F8299;
    font-weight: 600;
  }
}

/* ****************** 
         ASIDE 
 ******************* */

.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link {
  padding-left: 65px;
}

/* ****************** 
       CHECKBOX 
 ******************* */
  .checkbox-text {
    margin-bottom: 0;
    display: inline-block;
    color: #757575;
  }

input[type="checkbox"], input[type="checkbox"]:not(:checked) {
  position: relative;
  top: 4px;
  width: 18px;
  height: 18px;
  background: #E6E8F0;
  border-radius: 3px;
  appearance: none;
}

.checkbox-container {
  margin-bottom: 0px;

  p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 15px;
    color: rgba(0, 0, 0, 0.54);
  }

  .checkmark {
    display: none;
    position: relative;
    top: 4px;
    right: 53px;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    height: 0;
    width: 0;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    background: #00A8E4;
  }

  input[type="checkbox"]:checked ~ .checkmark {
    display: inline-block;
  }

  input[type="checkbox"]:not(:checked) ~ .checkmark {
    display: none;
  }
}

/* ****************** 
      BTNS 
 ******************* */ 
.btn-header { 
  background: #00A8E4;
  padding: 6px 16px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  font-weight: 500;
}

/* ****************** 
         TABLE 
 ******************* */
  table {
    width: 100%;

    .button-group {
      display: flex;
      justify-content: center;

      .material-icons {
        background: none;
        border: none;
        color: #ACACBB;
      }
    }

    i.more {
      position: absolute;
      margin-top: -2.9px;
      margin-left: 5px;
      color: #000;
    }
  }

.table-footer {
  padding: 2rem 2.25rem;
  background-color: #fff;
  margin-top: 190px;
}

/* ****************** 
      NAV-TABS 
 ******************* */ 
.nav {
  .nav-link {
    padding: 0.75rem;
  }
  .nav-tabs {
    .nav-item {
      margin-right: 0;
    }
  }
}
  
/* ****************** 
       PLUGINS 
******************* */
.dropdownToggler {
  padding: 0;
  border: 0px;
  background-color: "#fff";
}

.dropdow-full-width {
  padding: 0;
  border: 0px;
  background-color: "#fff";
  width: 100%;

  .datepicker-custom {
    width: inherit;
  }
}

.datepicker-label {
  text-align: start;
  margin-bottom: 10px;
  margin-left: 10px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.54);
}

.datepicker-custom {
  width: 173px;

  input {
    cursor: pointer;
    padding-left: 12px;
    text-transform: capitalize;
    font-weight: 300;
    border-radius: 4px;
  }

  svg {
    position: absolute;
    top: 10px;
    right: 15px;
    left: auto;
    color: #757575;
  }

  .datepicker---date-input---1vOyn {
    width: 100% !important;
  }

  .datepicker---time-input---2ICRB {
    width: inherit;
  }
}

.datepicker-custom.disabled input {
  background: #F3F6F9;
}

.react-datepicker {
  position: absolute !important;
  margin-top: 1px !important;
  padding: 0px 20px !important;
  font-family: Poppins, Helvetica, "sans-serif" !important;
  text-transform: capitalize;
  z-index: 3;
}

.css-1uccc91-singleValue {
  color: #757575 !important;
}

/* ****************** 
      SELECT2 
 ******************* */
  .select2-container {
    width: 100% !important;
  }

  .select2-v2 .select2-container {
    width: 90% !important;
  }

  .select2-selection--single {
    height: 38px !important;
    border-color: #d4d4d4 !important;
  }

  .select2-selection__rendered {
    padding-top: 5px;
    padding-left: 1em;
    color: #757575 !important;
  }

  .select2-selection__arrow {
    top: 7px !important;
    right: 5px !important;
  }

  .select2-search--dropdown {
    padding: .65rem 1rem;
  }

  .select2-dropdown {
    border-color: #d4d4d4 !important;
  }

  .select2-search__field {
    outline: 0!important;
    border-radius: 3px;
    border: 1px solid #d4d4d4 !important;
    padding: 5px;
    color: #757575;
  }

  .select2-results__options {
    padding: .65rem 0;
    padding-bottom: 0px;
  }

  .select2-results__option--selectable {
    background-color: none !important;
    color: #a7a7a7;
    margin-top: 3px;
    font-weight: 500;
  }

  .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: #23a8e4;
    color: white;
  }

  .select2-container--default .select2-results__option--selected {
    background-color: #f9f7f7;
  }

  .select2-container--default .select2-results__group {
    color: #23a8e4;
    font-weight: bold;
  }

  .table-responsive {
    white-space: nowrap;

    td, th {
      padding: 15px 27px !important;
    }
  }

.dropzone {
    display: flex;
    border: 2px dashed #ccc;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    color: #838586;
    font-weight: 400;
    flex-direction: column;

    .list-group {
      border-radius: 3px;

      .list-group-item {
        background-color: #00a8e4;
        border: 1px solid #00a8e4;
        color: #fff;
      }
    }
  }

/* ****************** 
   MEDIA QUERIES 
 ******************* */
@media screen and (max-width: 1900px) {
  .datepicker-custom {
    width: 140px;
  }

  .inline-form-group:first-child {
    margin-right: 5%;
  }
}

@media screen and (max-width: 1510px) {
  .datepicker-custom {
    width: 125px;
  }

  .inline-form-group:first-child {
    margin-right: 5%;
  }
}

@media (max-width: 991.98px) {
  .header-buttons {
    button:first-child {
      margin-top: 0;
      margin-left: 0px;
    }

    button {
      margin-top: 1.25rem;
    }
  } 
}
