.card.agreement-content {
  border-width: 0px;
  border-radius: 2px;

  .card-body {
    padding-top: 2em;
    padding-right: 12px;
    padding-left: 12px;
  }

  .row {
    padding-left: 40px;
  }

  .row:nth-child(odd) {
    background-color: #F8F8F8;
  }

  .form-group {
    padding-top: 10px;

    label {
      color: rgba(0, 0, 0, 0.54); 
      margin-bottom: 12px;
    }

    input, textarea {
      border: 1px solid #D4D4D4;
      border-radius: 4px;
      color: #757575;
      font-weight: 400;
      height: 35px;
      padding: 10px 15px;
      padding-top: 12px;
    }

    textarea {
      padding: 7px 15px;
    }
  }

  .ml-col {
    margin-left: 3.21%;
  }
  
  .checkbox-container {
    margin-top: 39px;
  }

  .unibe-subheader {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .unibe-subheader2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
  }

  .card-footer {
    margin-top: 100px;
  }

  .no-padding {
    padding: 0;
  }
}

table.agreement-search {
  width: 100%;
  
  thead {
    background: #EEEEEE;
  }

  th, td {
    padding: 15px 52px;
    color: #000;
    text-transform: uppercase;
    border-bottom: 2px solid #F8F8FA;
  }

  td {
    text-transform: capitalize;
    font-weight: lighter;
  }

  td span {
    position: absolute;
    font-size: 24px;
    margin-left: 40px;
    cursor: pointer;
    margin-top: -5px;
  }

  td span.close-icon {
    margin-left: 41%;
    margin-top: -3px;
  }

  td span:hover {
    opacity: 0.7;
  }
}

.agreement-content.student {
  background: none;

  .card-body {
    padding-top: 8px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .row {
    padding-left: 0px;
  }

  .row, .row:nth-child(odd) {
    background: none;
  }

  .info-card {
    color: #000;
    background: #fff;
    width: 100%;
    height: 94.5%;
    padding: 20px;
    border-radius: 6px;

    p {
      font-size: 1.23em;
    }

    img {
      width: 100px;
      height: 100px;
      border-radius: 10px;
    }

    .student-basic-info {
      display: flex;
      margin-bottom: 15px;

      .basic-info-wrapper {
        text-align: left;
        margin-top: 2px;
        margin-left: 5px;
        vertical-align: top;

        h4 {
          font-size: 1.84em;
        }
        p {
          color: #ACACBB;
          white-space: nowrap;
        }
      }
    }

    .content-lead {
      font-size: 1.84em;
    }
               
    .info-content {
      display: flex;
      justify-content: space-between;

      .left-col, .right-col {
        display: flex;
        flex-direction: column;

        p {
          margin-bottom: 20px;
        }
      }

      .right-col {
        align-items: flex-end;
        p {
          text-transform: capitalize;
          color: #ACACBB;
          text-align: end;
        }
      }
    }
  }
}

.agreement-nav-tab {
  border-color: transparent;
  background: #fff;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding-bottom: 10px;
  padding-top: 10px;

  .nav-item {
    margin-right: 0px;
  }

  .nav-link {
    color: #ACACBB;
    font-weight: 500;
    border-radius: 0px;
  }

  .svg-icon {
    margin-right: 10px;
  }

  .svg-icon-unibe-primary svg g [fill] {
    transition: fill 0.3s ease;
    fill: #00A8E4 !important;   
  }

  .svg-icon-dark-50 svg g [fill] {
    transition: fill 0.3s ease;
    fill: #ACACBB !important;   
  }

  .nav-link:hover, .nav-link:focus, .nav-link:hover:not(.disabled) {
    border-color: transparent;
    color: #00A8E4;
  }

  .nav-link.active {
    color: #00A8E4;
    border-color: transparent;
    border-bottom: 1px solid #00A8E4;
  }
}

/* *********************
         CUSTOM 
   ********************* */
  #sponsors-content table {
    td {
      white-space: nowrap;
    }
  }

  #exonerations-content {
    td .radio-list {
      justify-content: center;
    }

    input.otherpercent {
      position: relative;
      right: 6px;
      width: 77px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #e3e3e3;
      text-align: center;
    }
  }

  /* *********************
        MEDIA QUERIES
   ********************* */
  @media screen and (max-width: 1900px) {
    .agreement-content.student {
      .info-card .student-basic-info h4 {
        font-size: 1.5em;
      }    
    }
  }

  @media screen and (max-width: 1400px) {
    .agreement-content.student .info-card {
      .student-basic-info .basic-info-wrapper p {
        white-space: normal;
      }

      p {
        font-size: 0.9em;
      }
    }
  }
