.menu-search {
  margin-top: 10px;
  text-align: center;

  input {
    width: 210px;
    height: 35px;
    background: none;
    border: 1px solid #AAAAAF;
    border-radius: 2px;
    color: #fff;
    padding-left: 10px;
  }

  input::placeholder {
    color: #fff;
  }

  .search-icon {
    color: #fff;
    position: absolute;
    right: 35px;
    top: 81px;
    transform: rotate(90deg);
    cursor: pointer;
  }
}
