.cashbox-tab-wrapper {
  background: #fff;
  margin-left: 10px;
  color: #acacbb;
  font-weight: 500;
  padding: 10px 0;
  border-bottom: 1px solid #acacbb;

  .cashbox-tab-name {
    padding-left: 15px;
    margin-bottom: 0;
    font-size: 1.05em;
    cursor: pointer;
  }
}

.cashbox-tab-wrapper.active {
  color: #00a8e4;
  border-color: #00a8e4;
}

.cashbox-tab-wrapper:hover {
  color: #00a8e4;
  border-color: #00a8e4;
}

.cashbox-info-wrapper {
  border-radius: 6px;
  padding: 15px;

  img {
    width: 35%;
    border-radius: 5px;
  }

  p {
    margin-bottom: 12px;
    color: #000;
    font-size: 1.05em;
  }

  .info-lead {
    font-size: 1.6em;
    font-weight: 600;
  }

  .lead-container {
    display: flex;

    img {
      width: 30%;
      border-radius: 10px;
    }

    .info-lead {
      font-size: 1.8em;
    }
  }

  .info-container {
    .info-group {
      display: flex;
      justify-content: space-between;

      p.cash-in-cashbox {
        color: #1d9bd4;
        text-align: end;
      }
    }
  }

  .info-container .info-group:last-child p {
    margin-bottom: 0px;
  }
}

table.cashbox-results {
  th {
    background: #f1f5f8;
  }

  td {
    border: 0px !important;
    background: #fff;
  }

  input {
    background: none;
    text-align: right;
    padding-left: 28px;
    border-radius: 2px;
  }
}

.footer-buttons-in-results {
  background: none;
  position: absolute;
  width: fit-content;
  right: 400px;
  top: 170px;
}

.cashbox-services-container {
  p {
    color: rgba(0, 0, 0, 0.54);
    display: inline-block; 
  }

  span {
    background: #00A8E4;
    color: #fff;
    padding: 3px 20px;
    margin-left: 10px;
  }
  
  .checkbox-container {
    margin-top: 0;
  }
}
