.table-custom {
  width: 100%;

  td {
    border-bottom: 1px solid #F4F5F8;
    font-size: 1.076em;
  } 

  td, th {
    padding: 10px;
    color: #000;
  }

  th {
    padding-top: 0px;
  }

  td {
    font-weight: 300;
  }

  td .link {
    color: #000;
  }

  td > .col {
    width: 55%;
    padding: 0;
    padding-left: 6px; 
    border-bottom: 0;
    font-weight: 600;
    border-right: 2px solid #F4F5F8;

    td {    
      padding: 0;
      padding-left: 6px;
      text-align: center;
      padding-top: 20px;
      border-bottom: 0px;
    }
  }

  td > .col:first-child {
    width: 1%;
    padding-left: 0px;
  }

  td > .col:last-child {
    border-right: 0px;
  }

  tr:hover {
    background-color: #f0fcff;
  }

  td span.label {
    border-radius: 4px;
    height: 30px;
    width: 100%;
    font-size: 13px;
    font-weight: bold;

    &.pendiente {
      background-color: #FFDEE1;
      color: #F54555;
    }

    &.completado {
      background-color: #C2F6F3;
      color: #2CC3BC;
    }

    &.en-proceso {
      background-color: #DDEEFF; 
      color: #2F8EFF; 
    }

    &.label-sm {
      width: 110px;
    }
  }

  input[type="text"], input[type="number"] {
    width: 100%;
    margin: 0px 10px;
    border: 1px solid #d4d4d4;
    padding: 7px;
    border-radius: 4px;
    padding-left: 12px;
    color: #757575;
    font-weight: 400;
  }

  input[type="checkbox"], input[type="checkbox"]:not(:checked) {
    margin-right: 35px !important;
  }

  .react-datepicker-wrapper {
    width: 46%;
    input {
      width: 100%;
    }
  }

  .button-group {
    justify-content: flex-start;
  }
}

.table-custom.text-right {
  th, td, input {
    text-align: right;
  }
}

.table-custom.rules-controls {
  .datepicker-dropdown {
    display: inline-block;
    width: 100%;
  }

  .dropdownToggler {
    width: 100%;

    .datepicker-label {
      margin-left: 0;
    }
  } 

  .datepicker-custom, .datepicker-custom input {
    width: 100% !important;
    margin-left: 0;
  }
}

input[type="search"].form-control {
  border-color: #d4d4d4;
  border-radius: 4px;
  color: #757575;
  font-weight: 400;
}

#as-react-datatable-table-head {
  .asrt-page-length {
    position: relative;
    top: 18px;
  }

  .input-group-text {
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.54);
  }

  select {
    z-index: 1;
    margin: 0px 5px !important;
    height: 24px;
    padding: 0px;
    padding-left: 3px;
    border-radius: 2px;
    border-color: #d4d4d4;
    color: rgba(0, 0, 0, 0.54);
    position: relative;
    bottom: 2px;
  }

  .table_tools {
    button {
      background: #00A8E4;
      border-radius: 3px;
      border-color: transparent;
    
      .glyphicon {
        padding-right: 0px;
      }
    }
  }
}

#as-react-datatable-table-foot {
  .col-md-6:first-child {
    position: relative;
    top: 16px;
    font-family: Poppins;
    color: rgba(0, 0, 0, 0.54);
  }

  .col-md-6:last-child {
    ul.pagination {
      margin-left: 25px;
      padding-right: 30px;

      .page-link {
        border-radius: 1px;
        border-color: #d4d4d4;
        color: rgba(0, 0, 0, 0.54);
      }

      .page-item .page-link input {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}

@media (max-width: 991.98px) {
  #as-react-datatable-table-head {
    .asrt-page-length {
      top: 32px;
    }
  }

  #as-react-datatable-table-foot {
    .col-md-6:first-child {
      top: 24px;
    }

    .col-md-6:last-child ul.pagination {
      margin-top: 0;
    }
  }

  .table-custom {
    display: block;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
}

@media (max-width: 450px) {
  #as-react-datatable-table-head {
    .input-group-addon.input-group-prepend {
      display: none;
    }

    .table_filter {
      width: 160px !important;
    }
  }

  #as-react-datatable-table-foot {
    .col-md-6:first-child {
      display: none;
    }

    .col-md-6:last-child ul.pagination {
      margin-top: 20px;
      justify-content: center !important;
      margin-left: 0px;
      padding: 0;
    }
  }
}
