.custom-col-6 {
  flex: 0 0 45%;
  max-width: 45%;
}

.custom-adjust-right-col {
  margin-right: 7.8%;
}

.custom-offset {
  margin-left: 26%;
}

.mr-60 {
  margin-right: 60px;
}

.height-80 {
  height: 80px !important;
}

.height-74 {
  height: 74px !important;
}

.height-38 {
  height: 38px !important;
}

.dropdownToggler.full-width {
  width: 100%;

  .datepicker-custom {
    width: 100%;
  }
}

.sponsor-createlist-btn {
  position: relative;
  right: 20px;
}

.datatable-full-col-padding {
  padding: 30px 35px !important;
}

.btn-add-condition {
  position: relative;
  top: 40px;
  height: 38px;
  border-radius: 4px;
}
