body.modal-open {
  overflow: hidden !important;
}

/* ******************
      TAB CONTENTS 
 ******************* */
  #tabContent {
    height: fit-content;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;

    #as-react-datatable-table-head .asrt-page-length, #as-react-datatable-table-foot .col-md-6:first-child {
      left: 20px;
    }

    input[type="search"].form-control {
      position: relative;
      right: 20px;
    }

    .card-footer {
      margin-top: 0;
      padding-top: 0; 
    }

    .pagination {
      padding: 10px 30px !important;
      margin-top: 0px !important;
      margin-left: 8px !important;
    }
  }

  .tab-content table {
    width: 100%;

    thead {
      background: #F1F5F8;
    }

    th, td {
      padding: 15px 20px;
      text-transform: uppercase;
      color: #000;
      text-align: left;
    } 

    td {
      font-weight: 300;
      border-bottom: 1px solid #F4F5F8;

      .checkbox-container.group {
        margin-top: 0px;
        margin-bottom: 10px;

        input[type="checkbox"], input[type="checkbox"]:not(:checked) {
          margin-right: 0px;
          margin-left: 20px;
        }

        .checkmark {
          right: 18px;
        }
      }

      .checkbox-container.group:last-child {
        margin-right: 2px;
      }
    }
  }
  
  .exonerations-autorizations-navtab {
    width: 100%;

    li {
      margin: 60px;
    }
  }

  #autorizations-content {
    .checkbox-container {
      margin-top: 0;

      input[type="checkbox"], input[type="checkbox"]:not(:checked) {
        margin-right: 0;
      }
    
      .checkmark {
        right: 17px;
      }
    }
  }

/* ******************
        MODALS 
 ******************* */

  .custom-modal {
    overflow-y: auto;

    .modal-dialog {
      top: 0.9em;
      margin-left: 35%;
    }

    .modal-content {
      box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
      -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
      -moz-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
    }

    .modal-body {
      padding: 3rem;
      padding-bottom: 0em;
    }

    .form-group {
      margin-bottom: 1.23rem;
      label {
        color: rgba(0, 0, 0, 0.54);
        font-weight: 300;
      }

      input, textarea {
        color: #757575;
        border: 1px solid #D4D4D4;
        border-radius: 4px;
        padding-left: 16px;
      }

      .input-group .input-group-append {
        height: 38px;
      }

      .select2-container {
        display: inherit;
      }
    } 

    .datepicker-custom input {
      height: calc(1.5em + 1.3rem + 2px);
      font-weight: 300;
    }

    .checkbox-container {
      margin-top: 30px;
      p {
        font-weight: 300; 
      }
    }

    .search-box {
      position: absolute;
      right: 15px;
      top: 30px;

      input {
        height: 30px;
        border-radius: 3px;
        border: 1px solid #e2e2e2;
        font-weight: 300;
        width: 180px;
        color: #9a9aa7
      }

      .search-icon {
        position: absolute;
        top: 5px;
        right: 10px;
        font-size: 20px;
      }
    }

    .unibe-subheader {
      font-weight: 600;
      margin-left: 12.5px;
      margin-bottom: 1.23rem;
    }

    table {
      width: 100%;

      thead {
        background: #F1F5F8;
      }

      th, td {
        padding: 15px 30px;
        text-transform: uppercase;
        color: #000;
        text-align: left;
      }

      td {
        font-weight: 300;
        border-bottom: 1px solid #F4F5F8;
      }

      .money {
        text-align: right !important;
      }

      .checkbox-container {
        margin-top: 0;

        input[type="checkbox"], input[type="checkbox"]:not(:checked) {
          margin-right: 0;
        }

        .checkmark {
          right: 18px;
        }
      }
    }

    #as-react-datatable-table-head .asrt-page-length, #as-react-datatable-table-foot .col-md-6:first-child {
      left: 30px;
    }

    #as-react-datatable-table-foot .col-md-6:last-child ul.pagination {
      padding-right: 55px;
    }

    input[type="search"].form-control {
      border-width: 1px ;
      position: relative;
      right: 25px;
    }

    .btn-export {
      position: absolute;
      background: #23b986;
      border-radius: 4px;
      right: 45px;
      text-transform: uppercase;
      cursor: pointer;
      z-index: 1;

      a {
        color: #fff;
      }
    }

    .btn-success {
      background: #00A8E4;
      padding: 6px 16px;
      border-radius: 4px;
      color: #fff;
      text-transform: uppercase;
      box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
      font-weight: 500;
      border: none;
      position: absolute;
      bottom: 30px;
      left: 40px;
    }

    .modal-footer {
      border-top: none;
      padding-top: 1em;
      padding-right: 2.8em;
      padding-bottom: 2em;

      .btn-unibe-clear {
        color: #0082A9;
        margin-right: 15px;
      }
    }

    @media (min-width: 576px) {
      .modal-dialog {
        max-width: 850px;
      }
    }
  }

  //Custom SponsorModal
  #addSponsorModal {
    .form-group {
      margin: 0px auto;
    }

    .input-group input[type="text"] {
      height: auto;
    }

    textarea {
      height: 40px;
    }
  }

  //Custom SponsorModal
  #sponsorsHistoryModal, #applyPriceListModal, #includeServiceModal, #tallyCashboxDetailsModal, #selectedPriceListsModal {

    .modal-body {
      padding-top: 1.5em;
      padding-left: 0;
      padding-right: 0;
    }

    .modal-footer {
      padding-top: 5em;
      padding-right: 0.75em;
    }
    
    .pagination {
      .pagination-buttons {
        padding-left: 30px;
      }
    }

    .datepicker-custom {
      width: 130px;
    }

    .form-group {
      margin-bottom: 0;
    }
  }

  #sponsorsHistoryModal {
    table td, table th {
      padding: 15px 20px;
    }  
  }

  #addSponsorshipModal, #addStudentSponsorshipModal, #currencyFormModal, #addProgramSponsorModal {
    .modal-body {
      padding-top: 1em;
    }

    textarea {
      height: 38px;
    }

    .checkbox-container {
      margin-top: 0;
      margin-left: 10px;

      .checkmark {
        right: 18px;
      }
    }

    .dropdownToggler, .datepicker-custom {
      width: 100%;
    }
  }

  #addCashier, #addCashbox, #holdCash, #addHoldCode, #addNote, #openCashbox, #addPaymentMethod, #includeServiceModal, #addServiceDetails, #cashboxOperations, #holdCashbox, #tallyCashboxDetailsModal, #loanCashbox {
    .unibe-subheader {
      margin-left: 0;
    }
  }

  #addCashier {
    textarea {
      height: 38px;
    }

    .gray-wrapper {
      background: #E5E5E5;
      margin-left: -3.6%;
      margin-right: -3.7%;
      padding: 20px 35px;

      .form-group label {
        color: #000;
        font-weight: 400;
      }
    }

    .modal-footer {
      padding-top: 3em;
    }
  }

  #addCashbox {
    .form-group {
      margin-bottom: 2.47rem;
    }
  }

  #addNote {
    .col-2 img {
      width: 100%;
      border-radius: 5px;
    }

    textarea {
      height: 38px;
    }
  }

  #openCashbox, #loanCashbox {
    .currencies-lead-label {
      color: rgba(0, 0, 0, 0.54);
      font-weight: 300;
      position: absolute;
      margin-top: 11px;
    }

    .currencies-container {
      display: flex;
      flex-direction: column;
      width: 40%;
    }
  }

  #openCashbox, #closeCashbox, #loanCashbox, #tallyCashboxDetailsModal {
    .btn-success {
      background: #23b986;
    }
  }

  #openCashbox, #closeCashbox {
    .btn-success {
      bottom: 25px;
      left: 43%;
    }
  }

  #loanCashbox {
    .btn-success {
      bottom: 30px;
      left: 37%;
    }
  }

  #tallyCashboxDetailsModal {
    input[type="search"].form-control {
      right: 132px;
    }

    .second-btn {
      left: 230px;
    }

    .second-btn-2 {
      left: 200px;
    }
  }

  #includeServiceModal .modal-body, #cashboxOperations .modal-body {
    padding-bottom: 3em;
  }

  #addServiceDetails .pagination {
    padding-right: 10px;
  }

  #holdCashbox {
    p {
      color: rgba(0, 0, 0, 0.54);
    }

    i {
      position: absolute;
      margin-top: -4px;
      margin-left: 20px;
      color: #00A8E4;
      cursor: pointer;
    }
  }

  #closeCashbox {
    .modal-body {
      padding-top: 2em;
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 5em;
    }

    .pagination {
      .pagination-buttons {
        padding-left: 30px;
      }
    }

    table input {
      border: 0px;
    }
  }

  #openCashbox, #loanCashbox, #closeCashbox {
    .date-time-input {
      .datepicker---date-input---1vOyn, .datepicker---time-input---2ICRB {
        width: inherit;

        input {
          padding: 8px 12px;
        }

      }

      svg {
        left: inherit;
        right: 12px;
        top: 13px;
      }
    }
  }

  #loanCashbox {
    .dropdownToggler {
      .datepicker-custom {
        width: inherit;

        input {
          height: 45px;
        }
      }
      
      svg {
        top: 15px;
      }
    }
  }

  #selectedPriceListsModal {
    .ml-33em {
      margin-left: 33em;
    }

    .pagination .pagination-buttons {
      padding-left: 0px;
    }
  }

  #addMoreStudentsModal {
    ol.sponsor-student-list {
      padding-left: 20px;
      margin-top: 0px;

      li {
        margin-top: 10px;
      }

      .button-group {
        display: inline-block;
        position: absolute;
        margin-top: -4px;
        margin-left: 5px;

        button {
          border: none;
          background: none;
          color: #b7b7b7;
        }
      }
    }
  }

  #actualizationForm {
    .checkbox-container {
      margin-top: 0px;
      margin-left: 0.75rem;

      input[type="checkbox"]:not(:checked) {
        width: 19px;
        height: 19px;
      }

      .checkmark {
        right: 18px;
      }

      .checkmark .checkmark2 {
        right: 19px;
      }
    }
  }

  #serviceListModal, #applyService {
    #as-react-datatable-table-head .asrt-page-length, #as-react-datatable-table-foot .col-md-6:first-child {
      left: 0px;
    }

    input[type="search"].form-control {
      right: 0px;
    }

    #as-react-datatable-table-foot .col-md-6:last-child ul.pagination {
      padding-right: 20px;
    }

    .modal-footer {
      padding-right: 1.5em;

      .btn-unibe-clear {
        margin-right: 0px;
      }
    }
  }

  #applyService {
    .serviceAmount {
      margin-top: 2px;
      margin-bottom: 0;
      font-size: 13px;
      color: rgba(0, 0, 0, 0.54);
      font-weight: 300;
    }

    .checkbox-container .checkmark {
      right: 19px;
    }

    .modal-footer {
      padding-right: 2.3em;
    }

    .table-custom {
      tfoot {
        tr:hover {
          background: none; 
        }

        th {
          padding: 0px;  
          padding-left: 80px;
          text-align: right;
        } 
      }
    } 
  }

  #formBuilderModal {
    background: #0000008a;

    h6 {
      color: rgba(0, 0, 0, 0.87);
    }
  }

  #receiptModal {
    .modal-footer {
      padding-right: 19em;
    }
  }

  @media (min-width: 576px) {
    #applyPriceListModal .modal-dialog {
      max-width: 1350px;
      margin-left: 22%;
    }

    #selectedPriceListsModal .modal-dialog {
      max-width: 900px;
    }

    #addCashier .modal-dialog, #addCashbox .modal-dialog {
      max-width: 1140px;
      margin-left: 25%;
    }

    #holdCash .modal-dialog, #addHoldCode .modal-dialog {
      max-width: 500px;
      margin-left: 42%;
    }

    #includeServiceModal .modal-dialog, #addServiceDetails .modal-dialog  {
      max-width: 1100px;
      margin-left: 24%;
    }

    #cashboxOperations .modal-dialog {
      margin-left: 32%;
    }

    #tallyCashboxDetailsModal .modal-dialog {
      max-width: 1300px;
      margin-left: 20%;
    }

    #addPaymentMethod .modal-dialog {
      max-width: 1200px;
      margin-left: 26%;
    }

    #addMoreStudentsModal {
      background: #0000005c;

      .modal-dialog {
        max-width: 1000px;
        margin-left: 31%;
      }
    }

    #serviceListModal .modal-dialog {
      max-width: 1000px; 
      margin-left: 28%;
    }

    #applyService .modal-dialog {
      max-width: 1300px;     
      margin-left: 20%;
    }

    #formBuilder .modal-dialog {
      max-width: 1000px;
      margin-left: 32%;
    }
   
    #authenticateUserModal .modal-dialog {
      margin-left: 35%;
    }

    #receiptModal .modal-dialog {
      max-width: 1550px;
      margin-left: 15%; 
    }
  }

  @media (max-width: 450px) {
    #authenticateUserModal .modal-dialog {
      margin-left: 6px;
    }
  }

  @media print {
    @page {
      size: A4;
    }

    body.modal-open {
      visibility: hidden;

      #kt_wrapper, #kt_content, .container-fluid {
        padding: 0px;
      }

      .modal {
        position: static;

        .modal-header, .modal-body {
          visibility: visible;
        }
      }  
    }

    body.modal-open #receiptModal {
      width: auto;
      height: auto;
      overflow: visible !important;
      padding-right: 0px !important;

      &.custom-modal {
        overflow-y: hidden;
      }

      .modal-dialog {
        max-width: 100%;
        margin-left: auto;
        top: -164px;
        height: 1000px;
      }

      .modal-body {
        padding: 0;
      }

      .modal-footer {
        background: #fff;
        padding-right: 21em;
      }

      .receipt-header {
        padding-top: 70px;

        img {
          left: 280px;
        }
      
        .commercial-info {
          right: 50px;
        }
      }

      .receipt-wrapper .data-wrapper {
        width: 95%;
      }

      .receipt-wrapper .data-wrapper .total-wrapper {
        width: 600px;
      }

      .receipt-wrapper .firm-wrapper {
        right: 110px;
        width: 450px;      
      }

      .receipt-wrapper .page-breaker {
        display: none;
      }
    }
  }

  @media print and (max-width: 1200px) {
    body.modal-open .modal {
      padding-left: 0px !important;

      .modal-dialog {
        top: 0px !important; 
        margin: 0;

        .modal-content {
          position: absolute;
          top: 0px;
        }
      }
    } 
      
    body.modal-open #receiptModal {
      .receipt-wrapper {
        height: 1453.3px;
        padding-bottom: 3000px;

        .receipt-header {
          padding-top: 30px;

          .receipt-token {
            top: auto;
            margin-top: 185px;
            margin-left: 26px;
          }

          img {
            top: auto;
            margin-top: -15px;
            left: 160px;
          }

          .commercial-info {
            right: 30px;
          }
        }

        .firm-wrapper {
          right: 30px;
          width: 300px;        
        }

        .data-wrapper table.subjects-selections {
          tr {
            display: block; 
          }

          tr:nth-child(3) {
            page-break-after: always; 
          }
        }

        .receipt-footer-print {
          display: flex;
          position: absolute;
          margin-top: 280px;
          margin-left: 30px;
          width: 95%;
          margin-top: 1300px;
        }

        .receipt-footer {
          display: none;
        }
      }
    }
  }
