.receipt-wrapper {
  background: #fff;
  padding-bottom: 60px;
  height: 100%;

  p {
    color: #000;
  }

  .receipt-header {
    padding-top: 20px;

    .receipt-token {
      position: absolute;
      font-size: 11px;
      font-weight: 400;
      top: 250px;
      margin-left: 222px;    
    }

    img {
      position: absolute;
      top: 100px;
      left: 260px;
      width: 130px;
    }

    h3, p {
      color: #000;
      font-size: 2rem;
      font-weight: 600;
    }

    p {
      font-size: 20px;
      margin-bottom: 0px;
      font-weight: 500;    
    } 

    .commercial-info {
      position: absolute;
      right: 270px;
      margin-top: -20px;
      text-align: end;

      p {
        font-size: 12px !important;
        font-weight: 400;
      }
    }
  }

  .data-wrapper {
    display: flex;
    width: 70%;
    margin: 0 auto;

    .basic-info {
      width: 100%;
      border: 1px solid #000;
      margin-top: 80px;
      border-radius: 5px;

      .info-item {
        display: flex;
        color: #000;

        label {
          font-weight: 600;
          margin-bottom: 0.2rem;
        }

        span {
          position: absolute;
          font-weight: 400;
          text-transform: uppercase;
          margin-left: 180px;

          &::before {
            content: ":";
            margin-right: 10px;
          }
        }
      }

      .info-item label:last-child {
        margin-bottom: 0;
      }

      .info-item.type-2 {
        position: absolute;
        margin-top: -22px;
        margin-left: 260px;
        
        span {
          margin-left: 55px;

          &::before {
            margin-right: 16px;
          }
        }
      }
    }

    .basic-info:last-child {
      width: 32%;
      margin-left: 20px;

      span {
        margin-left: 120px;
      }
    }

    table {
      border-collapse: separate;
      border-spacing: 0px;

      tr th {
        border: 1px solid #000;
        border-right-width: 0px;
        border-left-width: 0px;
        font-weight: 600;
      }

      tr th:first-child {
        border-left-width: 1px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }

      tr th:last-child {
        border-right-width: 1px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }

      th, td {
        color: #000;
        padding: 1.25rem;
        width: 1px;
      }

      td {
        padding-top: 5px;
        padding-bottom: 0px;
      }
    }

    .total-wrapper {
      border: 1px solid #000;
      color: #000;
      border-radius: 5px;     
      padding: 10px;
      width: 345px;
      height: fit-content;

      .wrapper-name {
        font-weight: 600;
        position: absolute;
        margin-top: -21px;
        background: #fff;
        padding: 0px 10px;
        text-transform: uppercase;
      }

      p {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;
      }

      p:last-child {
        margin-bottom: -2px;
      }
    }

    .total-wrapper.type-2 {
      padding: 15px;

      p {
        display: block;
      } 
    }

    .total-wrapper .important-dates {
      display: inline-block;
      width: fit-content;
      margin-left: 100px;

      p {
        font-weight: bold;
        display: block;
        text-align: end;
        
        span {
          margin-left: 5px;
          font-weight: normal;
        }
      }
    }

    .total-wrapper .important-dates:last-child p {
      text-align: left; 
    }

    .table-subjects-main-info {
      width: 100%;
      border: 1px solid #000;
      border-radius: 5px;
      border-bottom-width: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50px;

      h3 {
        font-weight: 600;
        color: #000;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 0px;
        margin-left: auto;
      }

      .period-info {
        text-align: center;
        margin-left: 130px;
        margin-right: 40px;

        p {
          font-size: 12px;
          margin-bottom: 0px;
        }

        p:first-child {
          font-weight: 500;
        }
      }
    }
    
    table.subjects-selections {
      tr th:first-child {
        border-top-left-radius: 0px;
      }

      tr th:last-child {
        border-top-right-radius: 0px;
      }

      tr th:nth-child(2), tr td:nth-child(2) {
        width: 191px;
      }

      tr th:not(:nth-child(-n+2)), td:not(:nth-child(-n+2)) {
        text-align: center;
      }
    }
  }
  
  .firm-wrapper {
    position: absolute;
    right: 255px;
    margin-top: -45px;
    width: 330px;

    p {
      margin-bottom: 0px;
      text-align: center;
    }

    .author {
      font-weight: 600;
      font-size: 14px;
    }

    .firm {
      border-bottom: 1.5px solid #000;
    }
  }

  .receipt-footer, .receipt-footer-print {
    position: absolute;
    margin-top: 280px;
    margin-left: 30px;
    width: 95%;
    border: 1px solid #000;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    padding-top: 4px;
    height: 30px;

    p {
      text-align: center;
      display: inline-block;
      text-transform: uppercase;
    }
  }

  .receipt-footer {
    position: static;
    margin-top: 30px;
    margin-left: 220px;
    width: 70%;
  }

  .page-breaker {
    width: 100%;
    height: 50px;
    background: #333;
    position: absolute;
    bottom: 113px;
  }

  .receipt-footer-print, .page-breaker {
    display: none;
  }
}
