$wizard-base-color: #18184F;

.wizard-wrapper {
  border: 2px solid $wizard-base-color;  
  border-radius: 10px;
  height: 700px;
  font-family: "Poppins";

  .report-name-input {
    margin-top: 40px; 
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    color: $wizard-base-color;
    border: none;
    border-radius: 5px;
  }

  .report-name-input:focus-visible {
    outline-color: $wizard-base-color;
  }

  .stepper {
    display: flex;
    justify-content: center;

    .step {
      display: flex;

      .circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border: 2px solid $wizard-base-color;
        border-radius: 100%;
        z-index: 2;
        background: #fff;

        .icon {
          font-size: 30px;
          color: $wizard-base-color;
        } 
      }

      .step-progress-bar {
        margin-top: 14px;
        width: 230px;
        height: 30px;
        border: 2px solid $wizard-base-color;
        z-index: 1;
        margin-left: -6px;
      }

      .step-half-progress-bar {
        display: none;
        position: absolute;
        width: 120px;
        background: $wizard-base-color;
        height: 30px;
        margin-top: 14px;
        margin-left: 54px;
        border: 1px solid transparent;
        border-left-color: transparent;
      }
    }

    .step.on-progress {
      .circle {
        border-color: transparent;
        background: $wizard-base-color;

        .icon {
          color: #fff;
        }
      }
    }

    .step.half-completed {
      .circle {
        border-color: transparent;
        background: $wizard-base-color;

        .icon {
          color: #fff;
        }
      }

      .step-half-progress-bar {
        display: block;
      }
    }

    .step.completed {
      .circle {
        border-color: transparent;
        background: $wizard-base-color;

        .icon {
          color: #fff;
        }
      }

      .step-progress-bar {
        border-color: transparent;
        background: $wizard-base-color;
      }
    }
  }

  .stepper .step:not(:first-child) {
    margin-left: -5px;
  }

  .wizard-content {
    margin-top: 40px;
    text-align: center;

    .content-heading {
      font-size: 20px;
      font-weight: 200;
      color: $wizard-base-color;
      margin-bottom: 20px;

      i {
        margin-left: 5px;
        font-size: 25px;
        color: $wizard-base-color;
      }

      svg {
        position: relative;
        bottom: 3px;
      }
    }

    .selector {
      width: 650px;
      margin: 0 auto;

      .css-yk16xz-control, .css-1pahdxg-control {
        background-color: #fff;
        border-color: $wizard-base-color;
        border-radius: 5px;
        font-size: 20px;
        font-weight: 200;
        min-height: 65px;
        padding-left: 10px;
      }

      .css-1uccc91-singleValue {
        color: $wizard-base-color !important;
      }

      .css-b8ldur-Input {
        color: $wizard-base-color;

        input {
          font-weight: 200;
        }
      }

      .css-1okebmr-indicatorSeparator {
        background-color: $wizard-base-color;
        width: 1px;
      }

      .css-tlfecz-indicatorContainer, .css-1gtu0rj-indicatorContainer {
        color: $wizard-base-color;
        padding: 15px;
      }
    }

    .table-wrapper {
      display: flex;
      justify-content: center; 

      table {
        width: 780px;
        border-spacing: 0px;
        border-collapse: separate;

        thead {
          background: #fff;
        }

        td, th {
          color: $wizard-base-color;
          padding: 15px;
          text-transform: none;
          text-align: center;
          width: 100px;
        }

        th {
          border: 2px solid $wizard-base-color;
          border-left-width: 1px;
          border-right-width: 1px;
          border-bottom-width: 1px;
          font-weight: 400;
          font-size: 18px;
          
          &:first-child {
            border-top-left-radius: 5px;
            border-left-width: 2px;
          }

          &:last-child {
            border-right-width: 2px;
            border-top-right-radius: 5px;
          }
        }

        td {
          border-top: 1px solid $wizard-base-color;
          border-right: 1px solid $wizard-base-color;
          border-left: 1px solid $wizard-base-color;
          border-bottom: 1px solid $wizard-base-color;
          font-weight: 200;
          font-size: 16px;
          height: 53px;

          &:first-child {
            border-left-width: 2px;
          }

          &:last-child {
            border-right-width: 2px;
          }
        }

        tr:last-child {
          td {
            border-bottom-width: 2px;

            &:first-child {
              border-bottom-left-radius: 5px;
            }

            &:last-child {
              border-bottom-right-radius: 5px;
            }
          }
        }

        tfoot {
          td {
            font-size: 18px;
            border: none;
            span {
              font-weight: 400;
            }
          }
        }
      }
    }
  } 

  .download-button {
    position: absolute;
    right: 200px;
    border: none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    color: #18184f;
    font-weight: 200;
    top: 360px;

    svg {
      margin-top: 5px;
    }

    &:hover {
      opacity: 0.7; 
    }
  }

  .selected-options {
    display: flex;
    margin-top: 20px;
    align-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-right: -22px;
    height: 150px;
    flex-wrap: wrap;
    padding-left: 445px;

    .option {
      display: flex;
      border: 2px solid $wizard-base-color;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      width: 148px;
      height: 50px;
      margin-top: 20px;
      margin-right: 25px;

      &:nth-child(odd) {
        margin-top: 0px;
      }
      
      .circle {
        position: absolute;
        margin-left: -142px;
        margin-top: -44px;
        background: $wizard-base-color;
        border-radius: 100%;
        width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        
        &:hover {
          background: #a7184c;
        }
      }

      i {
        color: #fff;
      }

      p {
        margin-bottom: 0px;
        color: $wizard-base-color;
        font-weight: 200;
        font-size: 18px;
      }
    }
  }

  .operations-options {
    display: flex; 
    justify-content: center;

    .option {
      display: flex;
      border: 2px solid $wizard-base-color;
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      width: 135px;
      height: 45px;
      margin-top: 20px;
      margin-right: 40px;
      cursor: pointer;
      opacity: 0.4;

      p {
        margin-bottom: 0px;
        color: $wizard-base-color;
        font-weight: 400;
        font-size: 18px;
      }
    }

    .option:last-child {
      margin-right: 0px;
    }

    .option:hover, .option.active {
      opacity: 1;
    }
  }

  .wizard-buttons {
    position: absolute;
    bottom: 25px;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    width: 98%;    

    button {
      border: none;
      background: none;
      font-size: 20px;
      color: $wizard-base-color;
      font-weight: 200;
      padding: 0px;

      i {
        color: $wizard-base-color;
        font-size: 25px;
        position: relative;
        top: 2px;
      }

      .fa-arrow-left {
        margin-right: 5px;
      }

      .fa-arrow-right {
        margin-left: 5px;
      }

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
