.rules-master {
  .datepicker-dropdown {
    display: inline-block;
    margin-left: 22px;

    .datepicker-label {
      margin-left: 0px;
    }

    input {
      width: 100% !important;
      margin: 0;
    }
  }

  table {
    input[type="text"], input[type="number"], select {
      width: 98%;
    }

    select, label {
      margin-left: 10px;
    }

    select {
      border: 1px solid #d4d4d4;
      color: #757575;
      border-radius: 4px;
    }

    label {
      font-weight: 100;
      color: rgba(0, 0, 0, 0.54);
    }

    .checkbox-container {
      margin-left: 15px;
    }
  }

  .delete-btn {
    margin-left: 1.25rem;
    position: absolute;
    margin-top: -4px;
    color: #ACACBB;
    cursor: pointer;
  }

  .custom-select2 .select2-container {
    width: 93% !important;
  }

  .numeric-between-input {
    width: 40% !important;
  }

  .numeric-between-input:first-child {
    margin-left: 0px !important;
  }

  .custom-delete-btn {
    right: 600px;
  }
}
