.card.student-content {
  .form-group {
    padding-top: 10px;

    label {
      color: rgba(0, 0, 0, 0.54);
      margin-bottom: 12px;
    }

    input,
    textarea, 
    select {
      border: 1px solid #d4d4d4;
      border-radius: 4px;
      color: #757575;
      font-weight: 400;
      height: 35px;
      padding: 10px 15px;
      padding-top: 12px;
    }

    .css-26l3qy-menu {
      z-index: 2;
    }

    textarea {
      padding-top: 8px;
      overflow: hidden;
      min-height: 35px;
    }

    .select2-pt6 {
      padding-top: 6px;
    }

    .select2-selection__arrow {
      top: 12px !important;
    }
  }

  table {
    thead {
      background: #f1f4f8;
    }

    th,
    td {
      padding: 15px 25px;
      text-transform: uppercase;
      text-align: left;
    }

    th {
      color: #0082A9;
    }

    td {
      font-weight: 300;
      border-bottom: 1px solid #E6E8F0;
      color: #4B4B4B;
      text-transform: none;
    }

    img {
      width: 40px;
    }

    th .material-icons,
    td .material-icons {
      margin-top: -4px;
      color: #ACACBB;
      cursor: pointer;
    }
  }

  .checkbox-container {
    margin-top: 0;

    input[type="checkbox"],
    input[type="checkbox"]:not(:checked) {
      margin-right: 0;
    }

    .checkmark {
      right: 18px;
      color: #fff;
    }
  }

  .btn-success {
    padding: 6px 16px;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #00A8E4 !important;
    position: absolute;
    margin-top: 8px;
    border: transparent;
  }

  .btn-success.middle {
    background: #17b986 !important;
    left: 700px;
    top: 355px;
  }

  .btn-success:hover {
    background: #00A8E4 !important;
    opacity: 0.8;
  }

  .btn-success.middle:hover {
    background: #17b986 !important;
    opacity: 0.8;
  }

  .btn-unibe-clear {
    padding-left: 0px;
  }

  .pagination {
    margin-top: 20px;

    a {
      border-radius: 5px;
    }

    .btn.btn-hover-primary:not(:disabled):not(.disabled):active:not(.btn-text), .btn.btn-hover-primary:not(:disabled):not(.disabled).active, .show > .btn.btn-hover-primary.dropdown-toggle, .show .btn.btn-hover-primary.btn-dropdown {
      background: #0082A9 !important;
    }

    .btn.btn-hover-primary:hover:not(.btn-text):not(:disabled):not(.disabled), .btn.btn-hover-primary:focus:not(.btn-text), .btn.btn-hover-primary.focus:not(.btn-text) {
      background: #0082A9 !important;
      border-color: #0082A9 !important;
    }
    
    a.page {
      background: none;
    }

    a.page:not(.active) {
      color: #7F8299;
      font-weight: 600;
    }
  }

  .no-pt-in-form-group {
    .form-group {
      padding-top: 0px;
    }
  }

  .lg-input {
    input {
      height: 39px;
    }

    svg {
      top: 13px;
    }
  }

  .css-b8ldur-Input {
    margin: -1px;
    padding-bottom: 0px;
    padding-top: 0px;
  }

  .css-g1d714-ValueContainer {
    padding: 0px 8px;
  }

  .form-group-in-col {
    padding-top: 8px;
    margin-bottom: 0.3rem;
    
    .dropdownToggler {
      width: 100%;

      .datepicker-custom {
        width: inherit;
      }
    }
  }

  button.btn-add {
    margin-left: 5px;

    i {
      font-size: 30px;
      color: #00A8E4;
    }

    p {
      margin-bottom: 0px;
      display: inline-block;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  h6 {
    color: #000;
  }

  .btn-filter {
    position: absolute;
    margin-top: 3px;
    right: 310px;
    z-index: 1;
  }
}
