//
// Forms
//


// Form group
.form-group {
	label {
		font-size: $form-label-font-size;
		font-weight: $form-label-font-weight;
		color: $dark-75;
	}

	.invalid-feedback,
	.valid-feedback {
		font-size: $form-feedback-font-size;
		font-weight: $form-feedback-font-weight;
	}

	.form-text {
		font-size: $form-text-font-size;
		font-weight: $form-text-font-weight;
	}
}

// Form control
.form-control {
	// Readonly state
	&[readonly] {
		background-color: $input-readonly-bg;
	}

	// Pill style
	&.form-control-pill {
		border-radius: $input-line-height;

		&.form-control-sm {
			border-radius: $input-line-height-sm;
		}

		&.form-control-lg {
			border-radius: $input-line-height-lg;
		}
	}

	@if $form-validation-input-shadow == false {
		&:active,
		&.active,
		&:focus,
		&.focus {
			box-shadow: none !important;
		}
	}

	// Solid style
	&.form-control-solid {
		background-color: $input-solid-bg;
		border-color: $input-solid-bg;
		@include placeholder($input-solid-placeholder-color);
		color: $input-solid-color;
		transition: $transition-input;

		&:active,
		&.active,
		&:focus,
		&.focus {
			background-color: $input-solid-bg-focus;
			border-color: $input-solid-bg-focus;
			color: $input-solid-color;
			transition: $transition-input;
		}
	}
}

// Hide Form Control Icon On Validation
.form-control-iconless {
	background-image: none;

	.form-control {
		background-image: none;
	}
}

// Placeholder colors
.placeholder-dark-50 {
	@include placeholder($dark-50);
}

.placeholder-dark-75 {
	@include placeholder($dark-75);
}

.placeholder-white {
	@include placeholder($white);
}

// Custom inputs
.custom-select {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-file {
	width: 100%;
}

.custom-file-input:focus ~ .custom-file-label {
	box-shadow: none !important;
}

.custom-file-label {
	text-align: left;

	&:after {
	    float: left;
	}
}

// Input Group
.input-group {
	.form-control.is-valid + .input-group-append,
	.form-control.is-invalid + .input-group-append {
		margin-left: 0;
	}

	.input-group-prepend + .form-control.is-valid,
	.input-group-prepend + .form-control.is-invalid {
		margin-left: 1px;
	}

	// Sizing
	i {
		line-height: 0;
		font-size: 1.3rem;

		&:after,
		&:before {
			line-height: 0;
		}
	}

	.svg-icon {
		line-height: 0;
	}

	&.input-group-sm {
		i {
			line-height: 0;
			font-size: 1rem;
		}
	}

	&.input-group-lg {
		i {
			line-height: 0;
			font-size: 1.4rem;
		}
	}

	// Solid style
	&.input-group-solid {
		align-items: center;
		background-color: $input-solid-bg;
		@include border-radius($input-border-radius);

		&.active,
		&.focus {
			background-color: $input-solid-bg-focus;
			border-color: $input-solid-bg-focus;
			color: $input-solid-color;
			transition: $transition-input;
		}

		.form-control {
			@include input-reset();

			&.form-control-solid {
				&:active,
				&.active,
				&:focus,
				&.focus {
					background-color: $input-solid-bg-focus;
					border-color: $input-solid-bg-focus;
					color: $input-solid-color;
					transition: $transition-input;
				}
			}
		}

		&.input-group-sm {
			@include border-radius($input-border-radius-sm);
		}

		&.input-group-lg {
			@include border-radius($input-border-radius-lg);
		}

		.input-group-prepend,
		.input-group-append,
		.input-group-text {
			background-color: transparent;
			border: 0;
			padding-top: 0;
    		padding-bottom: 0;

			.btn-secondary {
				border: 0 !important;
			}
		}

		.input-group-prepend ~ .form-control {
			padding-left: 0 !important;
		}
	}
}

// Validation
.validated {
	.valid-feedback,
	.invalid-feedback {
		display: block;
	}
}

// Input icon
.input-icon {
	position: relative;

	span {
		left: 0;
		top: 0;
		bottom: 0;
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});

		i {
			line-height: 0;
			color: $dark-50;

			&:after,
			&:before {
				line-height: 0;
			}
		}

		.svg-icon {
			@include svg-icon-color($dark-50);
			@include svg-icon-size(24px);
		}
	}

	.form-control {
		padding-left: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
	}

	&.input-icon-right {
		span {
			right: 0;
			left: auto;
		}

		.form-control {
			padding-left: $input-btn-padding-x;
			padding-right: calc(#{$input-line-height * 1em} + #{$input-padding-y * 2} + #{$input-height-border});
		}
	}
}

// Textarea reset resize
.resize-none {
	resize: none;
}

/* *********************
   UNIBE FORM CLASSES 
 ********************** */ 
label.unibe-label {
  color: rgba(0, 0, 0, 0.54);
  margin-bottom: 10px;
}

select.form-control.unibe-select-1 {
  background: linear-gradient(353.04deg, #E0E4E7 47.8%, #DBE1E6 54.85%, #E1E4E6 62.2%, #E1E5E7 62.2%);
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  padding-left: 5px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 95%; 
}

.option-item {
  width: 135px;
  height: 35px;
  background: #E0E0E0;
  padding: 8px 15px;
  display: inline-block;
  border-radius: 16px;
  margin-bottom: 10px;
  margin-right: 20px;

  p {
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.07em;
  }

  .option-icon {
    height: 24px;
    position: relative;
    left: 89px;
    top: -22px;
    width: 24px;
    background: #BDBDBD;
    text-align: center;
    border-radius: 50%;
    padding-top: 5px;
    cursor: pointer;

    i {
      color: #E0E0E0;
      font-weight: bold;
      font-size: 1.3em;
    }
  }
}

div.option-wrapper {
  display: flex;
  height: 256px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  padding: 8px;

  .option {
    background-color: #00A8E4;

    p {
      color: #fff;
    }

    .text-line-through {
      text-decoration: line-through;
    }

    .option-icon {
      background: #FBFCFF;

      i {
        color: #00A8E4;
      }
    }
  }
}

.unibe-subheader {
  color: rgba(0, 0, 0, 0.87);
  font-size: 1.27em;
  font-weight: 500;
}

.categories-wrapper {
  width: 220px;
  display: inline-block;
  margin-right: 10px;

  .category-item {
    background-color: #F9F9F9;
    margin-bottom: 10px;
    padding: 10px 15px;

    p {
      display: inline-block;
      margin-bottom: 0px;
      color: #757575;
    }

    i {
      cursor: pointer;
      display: block;
      margin-left: 175px;
      position: absolute;
      top: 48.5px;
      font-size: 16px;
      color: #757575;
    }
  }

  .category-item.active {
    background-color: #00A8E4;

    p, i {
      color: #fff;
    }
  }

  a {
    color: #0054A6;
    font-weight: 500;
  }
}

.category-item:last-of-type {
  margin-bottom: 35px;
}

.btn-unibe {
  color: #00A8E4;
  padding: 6px 16px;
  border-radius: 4px;
  background: #DEEEFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  text-transform: uppercase;
  font-weight: 500;
}

.btn-unibe-secondary {
  margin-right: 15px;
  color: #00A8E4;
  padding: 6px 16px;
  border-radius: 4px;
  background: #DEEEFF;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
}

.btn-unibe-clear {
  color: #00A8E4;
  font-weight: 500;
  margin-right: 25px;
}
